#1. What are escape characters, and how do you use them?
* to insert special charters like quote(single or double) we use escape charters
* An escape character is a backslash \ followed by the character you want to insert.
* Escape characters represent characters in string values that would otherwise be difficult or impossible to type into code

In [3]:
"hanuman was the main person bheind the construction of \"ram setu\""

'hanuman was the main person bheind the construction of "ram setu"'

#2. What do the escape characters n and t stand for?
* \n - represents new line
* \t - represents tab

3. What is the way to include backslash characters in a string?

In [5]:
"hanuman was the main person bheind the construction of \"ram setu\""

'hanuman was the main person bheind the construction of "ram setu"'

4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?

* this is because we used double quotes at the starting and the ending of the string

#5. How do you write a string of newlines if you don't want to use the n character?
* we can use triple quotes or multi line strings to write new lines

#6. What are the values of the given expressions?

In [15]:
'Hello, world!'[1]
#return index at 1

'e'

In [10]:
a = 'Hello, world!'

In [11]:
for i in range(len(a)):
    print(a[i],i)

H 0
e 1
l 2
l 3
o 4
, 5
  6
w 7
o 8
r 9
l 10
d 11
! 12

In [16]:
'Hello, world!'[0:5]
#starting from 0 to 5 with a jump of 1

'Hello'

In [17]:
'Hello, world!'[:5]
#starting from 0 to 5 with a jump of 1

'Hello'

In [18]:
'Hello, world!'[3:]
#start from 3 , go till end of the string

'lo, world!'

#7. What are the values of the following expressions?

In [23]:
'Hello'.upper()
#upper() will converet all the charters toupper class

'HELLO'

In [33]:
'Hello'.upper().isupper()
# upper will converet all the chr to upper case then we are applying isupper()which is true

True

In [34]:
'Hello'.upper().lower()
#converting sentance case to upper case to lower case

'hello'

8. What are the values of the following expressions?
*'Remember, remember, the fifth of July.'.split()
* '-'.join('There can only one.'.split())

In [37]:
'Remember, remember, the fifth of July.'.split()
#split will return list of words seperated by space

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [38]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

#9. What are the methods for right-justifying, left-justifying, and centering a string?

*The rjust(), ljust(), and center() string methods, respectively

In [48]:
a = 'akhil'
print(a.rjust(50,'-'))
print(a.ljust(50, '-'))
print(a.center(50,'-'))

---------------------------------------------akhil
akhil---------------------------------------------
----------------------akhil-----------------------

#10. What is the best way to remove whitespace characters from the start or end?
* lstrip & rstrip methods

In [49]:
a = '  akhil'

In [52]:
b= 'akhil   '

In [51]:
a.lstrip()

'akhil'

In [53]:
b.rstrip()

'akhil'