1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [27]:
test1='this is a test of the emergency text system'
file=open('test.txt','w+')
file.write(test1)
file.close()

In [28]:
file=open('test.txt','r')
file.read()

'this is a test of the emergency text system'

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [29]:
test2=open('test.txt','r')
test2.read()

'this is a test of the emergency text system'

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [30]:
file1=open('books.csv','w+')

In [31]:
file1.write("""title,author,year, The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992""")

201

In [32]:
file1.close()

In [33]:
file1=open('books.csv','r')
file1.read()

'title,author,year, The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992'

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [34]:
import sqlite3

In [35]:
db=sqlite3.connect('books.db')

In [36]:
cursor=db.cursor()

In [37]:
cursor.execute('''create table book (title text, author text, year int)''')

OperationalError: table book already exists

In [38]:
db.commit()

5. Read books.csv and insert its data into the book table.

In [39]:
import sqlite3
import csv
db1=sqlite3.connect('books.db')
cursor=db1.cursor()
file = open('books.csv','rt')
book_s=csv.DictReader(file)
for book in book_s:
    cursor.execute("INSERT INTO book_s VALUES (?,?,?)",(book['title'],book['author'],book['year']))
db1.commit()
db1.close()

6. Select and print the title column from the book table in alphabetical order.

In [42]:
import sqlite3
import csv
db2=sqlite3.connect('books.db')
cursur=db2.cursor()
alph=cursur.execute("SELECT title FROM book ORDER BY title ASC")
for i in alph:
    print(i[0])
#db2.commit()
#db2.close()

7. From the book table, select and print all columns in the order of publication.

In [43]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM book ORDER BY year")
for record in ouput:
    print(record)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [44]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [45]:
! python -m pip install redis

Collecting redis
  Downloading redis-4.4.0-py3-none-any.whl (236 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.4.0

10. Increment the count field of test and print it.