1.Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
Examples:
* filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]
* filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]
* filter_list(["Nothing", "here"]) ➞ []

In [6]:
class list_filt:
    """this will return list of int only"""
    def __init__(self,a):
        self.a = a
    def filter_int(self):
        l=[]
        for i in self.a:
            if type(i)==int:
                l.append(i)
        return l

In [7]:
a=list_filt([1, 2, 3, "a", "b", 4])

In [8]:
a.filter_int()

[1, 2, 3, 4]

In [10]:
a1=list_filt(["A", 0, "Edabit", 1729, "Python", "1729"])

In [11]:
a1.filter_int()

[0, 1729]

In [12]:
a2=list_filt(["Nothing", "here"])

In [13]:
a2.filter_int()

[]


2.Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
Examples:
* add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
* add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
* add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [27]:
class add_indx:
    """this will add index to list elements and return list"""
    def __init__(self,a):
        self.a=a
    def add_index(self):
        l2=[]
        for i in range(len(self.a)):
            l2.append(i+self.a[i])
        return l2

In [28]:
a=add_indx([0,0,0,0,0])

In [29]:
a.add_index()

[0, 1, 2, 3, 4]

In [31]:
a1=add_indx([1, 2, 3, 4, 5])

In [32]:
a1.add_index()

[1, 3, 5, 7, 9]

In [33]:
a2=add_indx([5, 4, 3, 2, 1])

In [34]:
a2.add_index()

[5, 5, 5, 5, 5]

3.Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
Examples:
* cone_volume(3, 2) ➞ 12.57
* cone_volume(15, 6) ➞ 565.49
* cone_volume(18, 0) ➞ 0

In [35]:
import math

class area_cone:
    """this will return avolme of the cone"""
    def __init__(self,height,radius):
        self.height = height
        self.radius = radius
    def volume(self):
        area = (math.pi)*(self.radius**2)*(self.height/3)
        return area

In [36]:
c=area_cone(3,2)

In [37]:
c.volume()

12.566370614359172

In [38]:
c1=area_cone(15,6)
c1.volume()

565.4866776461628

In [39]:
c2=area_cone(15,0)
c2.volume()

0.0

4.This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are: 1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on. Write a function that gives the number of dots with its corresponding triangle number of the sequence.

* Examples:
* triangle(1) ➞ 1
* triangle(6) ➞ 21
* triangle(215) ➞ 23220

In [41]:
def triangle(in_num):
    print(f'Output ➞ {int((in_num)*((in_num+1)/2))}')

triangle(1)
triangle(6)
triangle(215)

Output ➞ 1
Output ➞ 21
Output ➞ 23220

5.Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
Examples:
* missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
* missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
* missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [43]:
def missing_num(in_list):
    for i in range(1,11):
        if i not in in_list:
            print(f'{in_list} ➞ {i}')

missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

[1, 2, 3, 4, 6, 7, 8, 9, 10] ➞ 5
[7, 2, 3, 6, 5, 9, 1, 4, 8] ➞ 10
[10, 5, 1, 2, 4, 6, 8, 3, 9] ➞ 7