1.Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.
Examples:
* next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
* next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
* next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
* next_in_line([], 6) ➞ "No list has been selected"

In [55]:
class list_num:
    """this fun will takes a list and a number as arguments. Add the number to the end of the list,
    then remove the first element of the list. """
    def __init__(self, inlist, num):
        self.inlist = inlist
        self.num = num
        
    def updated_list(self):
        if type(self.inlist )!= list:
            print("No list has been selected")
            
        elif len(self.inlist) < 1 :
            print("empty list has been selected")
            
        else:
            if type(self.inlist)== list:
                self.inlist.pop(0)
                self.inlist.append(self.num)
                return self.inlist

In [51]:
a=list_num([5,6,7,8,9],1)
a.updated_list()

[6, 7, 8, 9, 1]

In [53]:
a1=list_num([7,6,3,23,17],10)
a1.updated_list()

[6, 3, 23, 17, 10]

In [43]:
a2=list_num([1, 10, 20, 42 ], 6)
a2.updated_list()

[10, 20, 42, 6]

In [46]:
a3=list_num(3,6)
a3.updated_list()

No list has been selected

In [56]:
a4=list_num([],6)
a4.updated_list()

empty list has been selected

2.Create the function that takes a list of dictionaries and returns the sum of people's budgets.

* Examples:
* get_budgets([ { "name": "John", "age": 21, "budget": 23000 }, { "name": "Steve", "age": 32, "budget": 40000 }, { "name": "Martin", "age": 16, "budget": 2700 } ]) ➞ 65700

* get_budgets([ { "name": "John", "age": 21, "budget": 29000 }, { "name": "Steve", "age": 32, "budget": 32000 }, { "name": "Martin", "age": 16, "budget": 1600 } ]) ➞ 62600

In [72]:
class budget:
    """this will return su of pepole's budget"""
    def __init__(self,d):
        self.d = d
    
    def budget(self):
        som=0
        for i in self.d :
            som=som+i['budget']
        return som

In [73]:
d1=budget([{ "name": "John", "age": 21, "budget": 23000 }, 
     { "name": "Steve", "age": 32, "budget": 40000 }, 
     { "name": "Martin", "age": 16, "budget": 2700 }] )

In [74]:
d1.budget()

65700

In [76]:
d2=budget(([ { "name": "John", "age": 21, "budget": 29000 }, { "name": "Steve", "age": 32, "budget": 32000 }, { "name": "Martin", "age": 16, "budget": 1600 } ]))

In [77]:
d2.budget()

62600

3.Create a function that takes a string and returns a string with its letters in alphabetical order.

* Examples:
* alphabet_soup("hello") ➞ "ehllo"
* alphabet_soup("edabit") ➞ "abdeit"
* alphabet_soup("hacker") ➞ "acehkr"
* alphabet_soup("geek") ➞ "eegk"
* alphabet_soup("javascript") ➞ "aacijprstv"

In [159]:
class sort_strng():
    """this will return alphabetical order string"""
    def alpha(self,a):
        self.a=a
        string=''
        for i in (sorted(self.a)):
            string+=i
        return string

In [160]:
a=sort_strng()

In [161]:
a.alpha('akhil')

'ahikl'

In [162]:
a.alpha('edabit')

'abdeit'

In [163]:
a.alpha('hacker')

'acehkr'

In [168]:
a.alpha('geek')

'eegk'

In [167]:
a.alpha('javascript')

'aacijprstv'

4.What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.

* For the example above:
* compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
* Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or daily.

* Examples:
* compound_interest(100, 1, 0.05, 1) ➞ 105.0
* compound_interest(3500, 15, 0.1, 4) ➞ 15399.26
* compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [169]:
def compound_interest(principal,years,roi,cp):
    ci = principal*(1+(roi/cp))**(cp*years)
    print(f'Output ➞ {ci:.2f}')

compound_interest(100, 1, 0.05, 1)
compound_interest(3500, 15, 0.1, 4)
compound_interest(100000, 20, 0.15, 365)

Output ➞ 105.00
Output ➞ 15399.26
Output ➞ 2007316.26

5.Write a function that takes a list of elements and returns only the integers.
Examples:
* return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]
* return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]
* return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20,3]
* return_only_integer(["String", True, 3.3, 1]) ➞ [1]

In [178]:
class return_int:
    """this will return int from list"""
    def int_int(self,a):
        if type(a)==list :
            l=[]
            for i in a:
                if type(i) == int :
                    l.append(i)
            return l

In [179]:
c=return_int()

In [180]:
c.int_int([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [181]:
c.int_int(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [182]:
c.int_int([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [183]:
c.int_int(["String", True, 3.3, 1])

[1]